[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
flake8 = "*"
mypy = "*"
black = "*"
pylint = "*"
pytest = "*"
coverage = "*"
flake8-pyproject = "*"
bandit = {version = "*", extras = ["toml"]}

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
lint = """
  black .
  flake8 .
  mypy .
  pylint **/*.py
  bandit -c pyproject.toml -r .
"""
test = "pytest"
cov = """
  coverage run -m pytest
  coverage report
"""
