[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
flake8 = "*"
mypy = "*"
black = "*"
pylint = "*"
pytest = "*"
coverage = "*"
flake8-pyproject = "*"
bandit = {version = "*", extras = ["toml"]}

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
lint = """sh -c '
  echo "Formatting the code with black..."; \
  black .; \
  echo "Finding security vulnerabilities with bandit..."; \
  bandit -c pyproject.toml -r .; \
  echo "Linting the code with flake8 and pylint..."; \
  pylint **/*.py; \
  flake8 .; \
  echo "Typechecking with mypy..."; \
  mypy .
'
"""
test = "pytest tests"
cov = "sh -c 'coverage run -m pytest && coverage report'"
